@import "scss/functions";

@import "scss/variables";
@import "scss/mixins";

@import "scss/bootstrap";

#caroFilms {
  .carousel {
    margin-bottom: 50px !important;
  }
}
@mixin footerContent {
  max-width: 80%;
  margin-inline: auto;

  @media screen and (min-width: 576px) {
    max-width: 80%;
  }
  @media screen and (min-width: 768px) {
    max-width: 80%;
  }
  @media screen and (min-width: 992px) {
    max-width: 90%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 90%;
  }
}
footer {
  @include footerContent;
}
#footerIcons {
  @include footerContent;
}
@mixin carouselContent {
  max-width: 80%;
  margin-inline: auto;

  @media screen and (min-width: 576px) {
    max-width: 85%;
  }
  @media screen and (min-width: 768px) {
    max-width: 95%;
  }
  @media screen and (min-width: 992px) {
    max-width: 95%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 95%;
  }
}
#carouselExample {
  @include carouselContent;
}
$haribo-main: #ff8200;
main {
  background-color: $haribo-main;
}
main {
  @include carouselContent;
}
$haribo-font: "Bubblegum Sans", cursive;
body {
  font-family: $haribo-font;
}
header {
  @include carouselContent;
}
.card-img-top {
  height: 150px; /* Modifica il valore per impostare l'altezza desiderata */
  object-fit: cover; /* Facoltativo: mantiene il contenuto dell'immagine ben proporzionato */
}
#events-row {
  gap: 2 px;
}
